Repository hmcts/rd-user-profile-api, pull requests merged in 2019-08, with the labels that each got.

#46 Adding auth service and updated swagger
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/UserProfileController.java
  src/main/resources/application.yaml
Labels: ns:rd-user-profile-api-pr-46

#47 Preview
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/CreateNewUserProfileWithDuplicateUserIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveMultipleUserProfilesIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveUserProfileIntTest.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/client/CreateUserProfileData.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/client/GetUserProfileResponse.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/client/GetUserProfileWithRolesResponse.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/client/IdamUserResponse.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/config/IdamStatusConfiguration.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/UserProfileController.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/IdamRolesInfo.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/IdamServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/IdamStatus.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/UserProfileCreator.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/IdamStatusResolver.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V1_1__init_tables.sql
  src/main/resources/db/migration/V1_2__modify_check_constraint.sql
  src/test/java/uk/gov/hmcts/reform/userprofileapi/client/IdamRegisterUserRequestTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/client/IdamUserResponseTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/UserProfileControllerTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/domain/service/IdamRolesInfoTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/domain/service/UserProfileCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/util/IdamStatusResolverTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileValidatorTest.java
Labels: ns:rd-user-profile-api-pr-47

#50 RDCC-275 Preview idam message
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/UserProfileRetriever.java
Labels: ns:rd-user-profile-api-pr-50

#51 RDCC-428
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveMultipleUserProfilesIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveUserProfileIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveUserProfileWithIdamErrorsIntTest.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/client/GetUserProfileWithRolesResponse.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/entities/UserProfile.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/UserProfileRetriever.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/IdamStatusResolver.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/domain/service/UserProfileRetrieverTest.java
Labels: ns:rd-user-profile-api-pr-51

#52 Fixed bug for 430/431 Case Sensivity & Email
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/UpdateUserProfileIntTest.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/client/UpdateUserProfileData.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/UserProfileUpdator.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileValidator.java
Labels: ns:rd-user-profile-api-pr-52

#53 Rdcc 430
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/UpdateUserProfileIntTest.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/client/UpdateUserProfileData.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/UserProfileUpdator.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileValidator.java
Labels: ns:rd-user-profile-api-pr-53

#54 RDCC-428 Functional test cases fixed with latest credentials
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/client/IdamClient.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/config/TestConfigProperties.java
  src/functionalTest/resources/application-functional.yaml
Labels: ns:rd-user-profile-api-pr-54

#55 Roles updation issue fixed
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/UserProfileCreator.java
Labels: ns:rd-user-profile-api-pr-55

#56 Merge latest code to demo
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/client/IdamClient.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/config/TestConfigProperties.java
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveMultipleUserProfilesIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveUserProfileIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveUserProfileWithIdamErrorsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/UpdateUserProfileIntTest.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/client/GetUserProfileWithRolesResponse.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/client/UpdateUserProfileData.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/entities/UserProfile.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/UserProfileCreator.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/UserProfileRetriever.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/UserProfileUpdator.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/IdamStatusResolver.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileValidator.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/domain/service/UserProfileRetrieverTest.java
Labels: ns:rd-user-profile-api-pr-56

#59 Code-merge-demo-to-ithc
  Jenkinsfile_CNP
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/AbstractFunctional.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/CreateUserProfileFuncTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/EndpointSecurityTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/RetrieveMultipleUserProfileFuncTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/RetrieveUserProfileFuncTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/UpdateUserProfileFuncTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/WelcomeTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/client/FuncTestRequestHandler.java
  src/functionalTest/resources/application-functional.yaml
Labels: ns:rd-user-profile-api-pr-59

#60 Code-merge-functional-yaml-file
  Jenkinsfile_CNP
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/AbstractFunctional.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/CreateUserProfileFuncTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/EndpointSecurityTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/RetrieveMultipleUserProfileFuncTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/RetrieveUserProfileFuncTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/UpdateUserProfileFuncTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/WelcomeTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/client/FuncTestRequestHandler.java
  src/functionalTest/resources/application-functional.yaml
Labels: ns:rd-user-profile-api-pr-60

#61 code committed to fix functional test case
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/CreateUserProfileFuncTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/RetrieveUserProfileFuncTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/UpdateUserProfileFuncTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/client/IdamClient.java
Labels: ns:rd-user-profile-api-pr-61

#62 code committed to fix functional test case
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/AbstractFunctional.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/CreateUserProfileFuncTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/RetrieveMultipleUserProfileFuncTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/RetrieveUserProfileFuncTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/UpdateUserProfileFuncTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/client/IdamClient.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/client/S2sClient.java
  src/functionalTest/resources/application-functional.yaml
Labels: ns:rd-user-profile-api-pr-62

#63 code-merge-preview-to-master:Functional test cases enabled
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/AbstractFunctional.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/CreateUserProfileFuncTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/RetrieveMultipleUserProfileFuncTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/RetrieveUserProfileFuncTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/client/IdamClient.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/client/S2sClient.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/config/TestConfigProperties.java
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/CreateNewUserProfileWithDuplicateUserIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveMultipleUserProfilesIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveUserProfileIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveUserProfileWithIdamErrorsIntTest.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/client/CreateUserProfileData.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/client/GetUserProfileResponse.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/client/GetUserProfileWithRolesResponse.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/client/IdamUserResponse.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/config/IdamStatusConfiguration.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/UserProfileController.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/IdamRolesInfo.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/entities/UserProfile.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/IdamServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/IdamStatus.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/UserProfileCreator.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/UserProfileRetriever.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/IdamStatusResolver.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V1_1__init_tables.sql
  src/main/resources/db/migration/V1_2__modify_check_constraint.sql
  src/test/java/uk/gov/hmcts/reform/userprofileapi/client/IdamRegisterUserRequestTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/client/IdamUserResponseTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/domain/service/IdamRolesInfoTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/domain/service/UserProfileCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/domain/service/UserProfileRetrieverTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/domain/service/UserProfileServiceTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/util/IdamStatusResolverTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileValidatorTest.java
Labels: ns:rd-user-profile-api-pr-63

#69 pointing functional test cases to aat
  Jenkinsfile_CNP
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/client/IdamClient.java
  src/functionalTest/resources/application-functional.yaml
  src/main/resources/application.yaml
Labels: ns:rd-user-profile-api-pr-69

#70 Demo-to-master:code merge
  Jenkinsfile_CNP
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/AbstractFunctional.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/CreateUserProfileFuncTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/EndpointSecurityTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/RetrieveMultipleUserProfileFuncTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/RetrieveUserProfileFuncTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/UpdateUserProfileFuncTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/WelcomeTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/client/FuncTestRequestHandler.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/client/IdamClient.java
  src/functionalTest/resources/application-functional.yaml
  src/main/resources/application.yaml
Labels: ns:rd-user-profile-api-pr-70

#73 Rdcc 464 AKS migration changes
  Dockerfile
  Jenkinsfile_CNP
  charts/rd-user-profile-api/Chart.yaml
  charts/rd-user-profile-api/requirements.yaml
  charts/rd-user-profile-api/values.aat.template.yaml
  charts/rd-user-profile-api/values.preview.template.yaml
  charts/rd-user-profile-api/values.yaml
  infrastructure/variables.tf
  lib/AI-Agent.xml
  lib/applicationinsights-agent-2.3.1.jar
  web.config
Labels: ns:rd-user-profile-api-pr-73

#74 Adding V1_3 script for unique indexing on Idam ID
  src/main/resources/db/migration/V1_3__add_index_for_idam_id.sql
Labels: ns:rd-user-profile-api-pr-74

#71 Rdcc 462 Performance issue fix
  Dockerfile
  Jenkinsfile_CNP
  charts/rd-user-profile-api/Chart.yaml
  charts/rd-user-profile-api/requirements.yaml
  charts/rd-user-profile-api/values.aat.template.yaml
  charts/rd-user-profile-api/values.preview.template.yaml
  charts/rd-user-profile-api/values.yaml
  infrastructure/main.tf
  infrastructure/variables.tf
  lib/AI-Agent.xml
  lib/applicationinsights-agent-2.3.1.jar
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/RetrieveMultipleUserProfileFuncTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/client/IdamClient.java
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/AuthorizationEnabledIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveMultipleUserProfilesIntTest.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/client/CreateUserProfileData.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/client/GetUserProfileWithRolesResponse.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/client/GetUserProfilesResponse.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/client/IdamRegisterUserRequest.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/UserProfileController.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/entities/Audit.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/ResourceRetriever.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/UserProfileRetriever.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/UserProfileService.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/UserProfileUpdator.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileValidator.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V1_3__add_index_for_idam_id.sql
  src/test/java/uk/gov/hmcts/reform/userprofileapi/client/CreateUserProfileDataTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/client/CreateUserProfileResponseTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/client/GetUserProfileResponseTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/client/GetUserProfileWithRolesResponseTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/client/GetUserProfilesResponseTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/UserProfileControllerTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/domain/entities/UserProfileTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/domain/service/UserProfileCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/domain/service/UserProfileRetrieverTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/domain/service/UserProfileServiceTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileValidatorTest.java
  web.config
Labels: ns:rd-user-profile-api-pr-71

#72 Merge request to Demo
  Dockerfile
  Jenkinsfile_CNP
  charts/rd-user-profile-api/Chart.yaml
  charts/rd-user-profile-api/requirements.yaml
  charts/rd-user-profile-api/values.aat.template.yaml
  charts/rd-user-profile-api/values.preview.template.yaml
  charts/rd-user-profile-api/values.yaml
  infrastructure/main.tf
  infrastructure/variables.tf
  lib/AI-Agent.xml
  lib/applicationinsights-agent-2.3.1.jar
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/RetrieveMultipleUserProfileFuncTest.java
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/AuthorizationEnabledIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveMultipleUserProfilesIntTest.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/client/CreateUserProfileData.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/client/GetUserProfileWithRolesResponse.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/client/GetUserProfilesResponse.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/client/IdamRegisterUserRequest.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/UserProfileController.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/entities/Audit.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/ResourceRetriever.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/UserProfileRetriever.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/UserProfileService.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/UserProfileUpdator.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileValidator.java
  src/main/resources/db/migration/V1_3__add_index_for_idam_id.sql
  src/test/java/uk/gov/hmcts/reform/userprofileapi/client/CreateUserProfileDataTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/client/CreateUserProfileResponseTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/client/GetUserProfileResponseTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/client/GetUserProfileWithRolesResponseTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/client/GetUserProfilesResponseTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/UserProfileControllerTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/domain/entities/UserProfileTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/domain/service/UserProfileCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/domain/service/UserProfileRetrieverTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/domain/service/UserProfileServiceTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileValidatorTest.java
  web.config
Labels: ns:rd-user-profile-api-pr-72

#77 enable build
  Jenkinsfile_CNP
Labels: ns:rd-user-profile-api-pr-77

#78 removed step to move the code next level
  Jenkinsfile_CNP
Labels: ns:rd-user-profile-api-pr-78

#79 Logging within Smoke test
  src/smokeTest/java/uk/gov/hmcts/reform/userprofileapi/SmokeTest.java
Labels: ns:rd-user-profile-api-pr-79
