Repository hmcts/rd-user-profile-api, pull requests merged in 2019-09, with the labels that each got.

#81 Merge demo to preview and dependency fixes
  config/owasp/suppressions.xml
  src/main/resources/db/migration/V1_3__add_index_for_idam_id.sql
  src/smokeTest/java/uk/gov/hmcts/reform/userprofileapi/SmokeTest.java
Labels: ns:rd-user-profile-api-pr-81

#83 Rdcc 485
  Jenkinsfile_CNP
  config/owasp/suppressions.xml
  infrastructure/output.tf
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/AbstractFunctional.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/RetrieveMultipleUserProfileFuncTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/UpdateUserProfileFuncTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/CreateNewUserProfileIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/CreateNewUserProfileWithDuplicateUserIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveMultipleUserProfilesIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveUserProfileInternalServerErrorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/UpdateUserProfileIntTest.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/client/CreateUserProfileResponse.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/client/GetUserProfileResponse.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/entities/UserProfile.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/repository/UserProfileQueryProvider.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/repository/UserProfileRepository.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/UserProfileCreator.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/UserProfileUpdator.java
  src/main/resources/db/migration/V1_4__modify_idam_id_datatype_to_varchar.sql
  src/test/java/uk/gov/hmcts/reform/userprofileapi/client/CreateUserProfileResponseTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/client/GetUserProfileResponseTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/client/GetUserProfileWithRolesResponseTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/client/GetUserProfilesResponseTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/data/UserProfileTestDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/domain/service/UserProfileUpdatorTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/repository/UserProfileQueryProviderTest.java
Labels: ns:rd-user-profile-api-pr-83

#84 RDCC-485 removed UUID validation
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveUserProfileIntTest.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileValidator.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileValidatorTest.java
Labels: ns:rd-user-profile-api-pr-84

#86 RDCC-485
  Jenkinsfile_CNP
Labels: ns:rd-user-profile-api-pr-86

#88 RDCC-460 idam status fix
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/CreateNewUserProfileWithDuplicateUserIntTest.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/IdamStatusResolver.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/util/IdamStatusResolverTest.java
Labels: ns:rd-user-profile-api-pr-88

#89 Idamstatus
  Jenkinsfile_CNP
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/CreateNewUserProfileWithDuplicateUserIntTest.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/IdamStatusResolver.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/util/IdamStatusResolverTest.java
Labels: ns:rd-user-profile-api-pr-89

#91 RDCC-460 functional test case fix
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/RetrieveMultipleUserProfileFuncTest.java
Labels: ns:rd-user-profile-api-pr-91

#95 RDCC-497 Email validation issue
  Jenkinsfile_CNP
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/CreateNewUserProfileIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/UpdateUserProfileIntTest.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/client/CreateUserProfileData.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileValidator.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/client/CreateUserProfileDataTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileValidatorTest.java
Labels: ns:rd-user-profile-api-pr-95

#96 RDCC-497 email changes
  Jenkinsfile_CNP
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/RetrieveMultipleUserProfileFuncTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/CreateNewUserProfileIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/UpdateUserProfileIntTest.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/client/CreateUserProfileData.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileValidator.java
  src/smokeTest/java/uk/gov/hmcts/reform/userprofileapi/SmokeTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/client/CreateUserProfileDataTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileValidatorTest.java
Labels: ns:rd-user-profile-api-pr-96

#99 RDCC-561: Code changes to add fr team service name in authorized list
  Jenkinsfile_CNP
  src/main/resources/application.yaml
Labels: ns:rd-user-profile-api-pr-99

#97 RDCC-528 Replace PUT with POST call for duplicate user profile
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/AbstractFunctional.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/CreateUserProfileFuncTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/EndpointSecurityTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/UpdateUserProfileFuncTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/WelcomeTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/client/IdamClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/CreateNewUserProfileWithDuplicateUserIntTest.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/UserProfileController.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/feign/IdamFeignClient.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/IdamService.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/IdamServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/UserProfileCreator.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/JsonFeignResponseHelper.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/assertions/UserProfileResourceAssert.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/client/GetUserProfileRequestTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/client/IdamServiceTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/client/UserProfileResourceTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/UserProfileControllerTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/data/UserProfileTestDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/domain/service/UserProfileCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/repository/UserProfileQueryProviderTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/util/JsonFeignResponseHelperTest.java
Labels: ns:rd-user-profile-api-pr-97

#104 Up 2.0.3 release - RDCC-528
  Jenkinsfile_CNP
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/AbstractFunctional.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/CreateUserProfileFuncTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/EndpointSecurityTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/UpdateUserProfileFuncTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/WelcomeTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/client/IdamClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/CreateNewUserProfileWithDuplicateUserIntTest.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/UserProfileController.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/feign/IdamFeignClient.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/IdamService.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/IdamServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/UserProfileCreator.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/JsonFeignResponseHelper.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/assertions/UserProfileResourceAssert.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/client/GetUserProfileRequestTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/client/IdamServiceTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/client/UserProfileResourceTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/UserProfileControllerTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/data/UserProfileTestDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/domain/service/UserProfileCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/repository/UserProfileQueryProviderTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/util/JsonFeignResponseHelperTest.java
Labels: ns:rd-user-profile-api-pr-104

#107 RDCC-454:addroles and delete roles attributes changed
  src/main/java/uk/gov/hmcts/reform/userprofileapi/client/UserProfileRolesResponse.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/UserProfileUpdator.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/client/UserProfileRolesResponseTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/domain/service/UserProfileUpdatorTest.java
Labels: ns:rd-user-profile-api-pr-107
