Repository hmcts/rd-user-profile-api, pull requests merged in 2019-07, with the labels that each got.

#13 RDCC-255 Update User Profile
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/AbstractFunctional.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/UpdateUserProfileFuncTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/client/FuncTestRequestHandler.java
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/client/IntTestRequestHandler.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/AbstractIntegration.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/CreateNewUserProfileWithIdamErrorsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/UpdateUserProfileIntTest.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/service/IdamStatus.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/service/ResourceUpdator.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/service/UserProfileService.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/service/UserProfileUpdator.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/infrastructure/clients/UpdateUserProfileData.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/infrastructure/controllers/UserProfileController.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/IdamStatusResolver.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileValidator.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/data/CreateUserProfileDataTestBuilder.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/util/IdamStatusResolverTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileValidatorTest.java
Labels: ns:rd-user-profile-api-pr-13

#14 Jenkins build for AAT
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  charts/rd-user-profile-api/values.yaml
  database/init-db.sh
  docker-compose.yml
  infrastructure/ithc.tfvars
  infrastructure/main.tf
  src/integrationTest/resources/application.yml
  src/main/resources/application.yaml
Labels: ns:rd-user-profile-api-pr-14

#16 RDCC-341
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/AbstractFunctional.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/CreateUserProfileFuncTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/config/TestConfigProperties.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/idam/IdamApi.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/idam/IdamServiceForFunctional.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/idam/User.java
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/CreateNewUserProfileWithDuplicateUserIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveUserProfileIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveUserProfileInternalServerErrorIntTest.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/IdamRegistrationInfo.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/IdamRolesInfo.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/entities/UserProfile.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/feign/IdamFeignClient.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/service/IdamService.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/service/IdentityManagerService.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/service/UserProfileCreator.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/service/UserProfileRetriever.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/infrastructure/clients/CreateUserProfileData.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/infrastructure/clients/GetUserProfileResponse.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/infrastructure/clients/RoleName.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/infrastructure/clients/RoleRequest.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/JsonFeignResponseHelper.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/data/UserProfileTestDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/domain/entities/UserProfileTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/domain/service/UserProfileCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/infrastructure/clients/CreateUserProfileDataTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/infrastructure/clients/RoleNameTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/infrastructure/clients/UserProfileResourceTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileValidatorTest.java
Labels: ns:rd-user-profile-api-pr-16

#26 RDCC-345 Get multiple users profiles
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/RetrieveMultipleUserProfileFuncTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/client/FuncTestRequestHandler.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/AuthorizationEnabledIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/CreateNewUserProfileIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/CreateNewUserProfileWithDuplicateUserIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/CreateNewUserProfileWithIdamErrorsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveMultipleUserProfilesIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveUserProfileIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveUserProfileWithIdamErrorsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/UpdateUserProfileIntTest.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/client/CreateUserProfileData.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/client/GetUserProfileWithRolesResponse.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/client/GetUserProfilesRequest.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/client/GetUserProfilesResponse.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/client/IdentifierName.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/client/ResponseSource.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/client/UserProfileIdentifier.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/UserProfileController.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/entities/UserProfile.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/repository/UserProfileQueryProvider.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/repository/UserProfileRepository.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/ResourceRetriever.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/UserProfileCreator.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/UserProfileRetriever.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/UserProfileService.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/UserProfileUpdator.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileValidator.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/data/UserProfileTestDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/domain/service/UserProfileRetrieverTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/repository/UserProfileQueryProviderTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileValidatorTest.java
Labels: ns:rd-user-profile-api-pr-26

#27 Fix for Resource group to be not deleted and Nightly build changes
  Jenkinsfile_nightly
  infrastructure/main.tf
  infrastructure/variables.tf
  security.sh
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/RetrieveMultipleUserProfileFuncTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/client/FuncTestRequestHandler.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/AuthorizationEnabledIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/CreateNewUserProfileIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/CreateNewUserProfileWithDuplicateUserIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/CreateNewUserProfileWithIdamErrorsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveMultipleUserProfilesIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveUserProfileIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveUserProfileWithIdamErrorsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/UpdateUserProfileIntTest.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/client/CreateUserProfileData.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/client/GetUserProfileWithRolesResponse.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/client/GetUserProfilesRequest.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/client/GetUserProfilesResponse.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/client/IdentifierName.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/client/ResponseSource.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/client/UserProfileIdentifier.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/UserProfileController.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/entities/UserProfile.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/repository/UserProfileQueryProvider.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/repository/UserProfileRepository.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/ResourceRetriever.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/UserProfileCreator.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/UserProfileRetriever.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/UserProfileService.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/UserProfileUpdator.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileValidator.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/data/UserProfileTestDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/domain/service/UserProfileRetrieverTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/repository/UserProfileQueryProviderTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileValidatorTest.java
Labels: ns:rd-user-profile-api-pr-27

#29 RDCC-352 Improve unit and pitest test coverage
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveUserProfileInternalServerErrorIntTest.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/UserProfileController.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/IdamRegistrationInfo.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/IdamRolesInfo.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/IdamService.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/IdamServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/IdentityManagerService.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/UserProfileCreator.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/UserProfileRetriever.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/JsonFeignResponseHelper.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/client/IdamServiceTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/domain/entities/UserProfileTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/domain/service/UserProfileCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/domain/service/UserProfileRetrieverTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileValidatorTest.java
Labels: ns:rd-user-profile-api-pr-29

#28 RDCC-345
  bin/run-in-docker.sh
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/AuthorizationEnabledIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/CreateNewUserProfileIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/CreateNewUserProfileWithDuplicateUserIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/CreateNewUserProfileWithIdamErrorsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveUserProfileInternalServerErrorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveUserProfileWithIdamErrorsIntTest.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/client/CreateUserProfileData.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/client/IdamRegisterUserRequest.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/UserProfileController.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/entities/UserProfile.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/feign/IdamFeignClient.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/IdamService.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/IdamServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/UserProfileCreator.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/UserProfileService.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileValidator.java
  src/main/resources/db/migration/V1.0.0__init_tables.sql
  src/main/resources/db/migration/V1.2__defaulted_values.sql
  src/test/java/uk/gov/hmcts/reform/userprofileapi/client/CreateUserProfileDataTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/client/IdamServiceTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/client/UserProfileResourceTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/data/CreateUserProfileDataTestBuilder.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/data/UserProfileTestDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/domain/entities/UserProfileTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/domain/service/UserProfileCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileValidatorTest.java
Labels: ns:rd-user-profile-api-pr-28

#33 Functional test fix
  .travis.yml
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/CreateNewUserProfileWithDuplicateUserIntTest.java
  src/main/resources/application.yaml
Labels: ns:rd-user-profile-api-pr-33

#34 Rdcc 352 Test and refactoring and database schema consolidation
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/IdamRegistrationInfo.java
  src/main/resources/db/migration/V1_1__init_tables.sql
  src/test/java/uk/gov/hmcts/reform/userprofileapi/domain/IdamRegistrationInfoTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/domain/entities/UserProfileTest.java
Labels: ns:rd-user-profile-api-pr-34

#35 RDCC-345 removed V2 file from build
  src/main/resources/db/migration/V1_2__defaulted_values.sql
Labels: ns:rd-user-profile-api-pr-35

#37 RDCC-352 Mutation and line coverage achieved
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/ResourceUpdator.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/UserProfileCreator.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/UserProfileService.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/UserProfileUpdator.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/domain/service/AuditTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/domain/service/IdamRolesInfoTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/domain/service/UserProfileCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/domain/service/UserProfileServiceTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/domain/service/UserProfileUpdatorTest.java
Labels: ns:rd-user-profile-api-pr-37

#42 RDCC-391 resolve Idam Status
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/CreateNewUserProfileWithDuplicateUserIntTest.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/client/CreateUserProfileData.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/client/GetUserProfileResponse.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/client/IdamUserResponse.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/config/IdamStatusConfiguration.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/IdamRolesInfo.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/IdamServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/IdamStatus.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/UserProfileCreator.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/IdamStatusResolver.java
  src/main/resources/db/migration/V1_1__init_tables.sql
  src/test/java/uk/gov/hmcts/reform/userprofileapi/client/IdamRegisterUserRequestTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/client/IdamUserResponseTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/domain/service/IdamRolesInfoTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/domain/service/UserProfileCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/util/IdamStatusResolverTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileValidatorTest.java
Labels: ns:rd-user-profile-api-pr-42

#43 RDCC-391 New DB migration script added
  src/main/resources/db/migration/V1_1__init_tables.sql
  src/main/resources/db/migration/V1_2__modify_check_constraint.sql
Labels: ns:rd-user-profile-api-pr-43

#45 RDCC-345 amended idamStatus and idamMessage to correspond with PRD
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveMultipleUserProfilesIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveUserProfileIntTest.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/client/GetUserProfileWithRolesResponse.java
Labels: ns:rd-user-profile-api-pr-45
