Repository hmcts/rd-user-profile-api, pull requests merged in 2019-10, with the labels that each got.

#110 Rdcc 449 up
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/client/FuncTestRequestHandler.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/client/IdamOpenIdClient.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/config/TestConfigProperties.java
  src/functionalTest/resources/application-functional.yaml
  src/main/resources/application.yaml
Labels: ns:rd-user-profile-api-pr-110

#109 RDCC 475 - IDAM FLAG "ACTIVE-PENDING-SUSPENDED"
  Jenkinsfile_CNP
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/AbstractFunctional.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/AuthorizationEnabledIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveMultipleUserProfilesIntTest.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/client/IdamUserResponse.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/config/IdamStatusConfiguration.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/IdamRolesInfo.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/IdamStatus.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/IdamStatusResolver.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/userprofileapi/client/IdamUserResponseTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/UserProfileControllerTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/data/UserProfileTestDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/domain/service/IdamRolesInfoTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/domain/service/UserProfileCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/util/IdamStatusResolverTest.java
Labels: ns:rd-user-profile-api-pr-109

#111 RDCC-478 AKS changes based on workshop
  Dockerfile
  Jenkinsfile_CNP
  build.gradle
  charts/rd-user-profile-api/Chart.yaml
  charts/rd-user-profile-api/requirements.yaml
  charts/rd-user-profile-api/values.aat.template.yaml
  charts/rd-user-profile-api/values.preview.template.yaml
  charts/rd-user-profile-api/values.sandbox.template.yaml
  charts/rd-user-profile-api/values.yaml
  src/functionalTest/resources/application-functional.yaml
  src/main/resources/bootstrap.yaml
  web.config
Labels: ns:rd-user-profile-api-pr-111

#117 Fix image config typo
  charts/rd-user-profile-api/Chart.yaml
  charts/rd-user-profile-api/values.preview.template.yaml
  charts/rd-user-profile-api/values.yaml
Labels: ns:rd-user-profile-api-pr-117

#120 Fix appinsights
  src/main/resources/bootstrap.yaml
Labels: ns:rd-user-profile-api-pr-120

#122 RDCC-542 fixing sonar issues
  src/main/java/uk/gov/hmcts/reform/userprofileapi/constant/UserProfileConstant.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/UserProfileRetriever.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/UserProfileUpdator.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/IdamStatusResolver.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileValidator.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/client/UserProfileConstantTest.java
Labels: ns:rd-user-profile-api-pr-122

#125 RDCC 533 QA Sonar smells
  src/main/java/uk/gov/hmcts/reform/userprofileapi/client/CreateUserProfileData.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/constant/UserProfileConstant.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/entities/Audit.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/entities/UserProfile.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/IdamServiceException.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/ResourceUpdator.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/UserProfileUpdator.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/JsonFeignResponseHelper.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileValidator.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/domain/service/UserProfileServiceTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/domain/service/UserProfileUpdatorTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileValidatorTest.java
Labels: ns:rd-user-profile-api-pr-125

#135 Demo spike 1 Partial Revert
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/UpdateUserProfileIntTest.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/AttributeResponse.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/config/FeignInterceptorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/constant/UserProfileConstant.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/UserProfileController.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/entities/UserProfile.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/feign/IdamFeignClient.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/AuditService.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/UserProfileCreator.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/UserProfileService.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/UserProfileUpdator.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/ValidationService.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/AuditServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/ValidationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileMapper.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/UserProfileControllerTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/data/CreateUserProfileDataTestBuilder.java
Labels: ns:rd-user-profile-api-pr-135

#132 demo-spike temp commenting out checkstyle - DO NOT MERGE
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/UpdateUserProfileIntTest.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/AttributeResponse.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/client/UpdateUserProfileData.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/config/FeignInterceptorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/constant/UserProfileConstant.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/UserProfileController.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/entities/UserProfile.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/feign/IdamFeignClient.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/AuditService.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/ResourceUpdator.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/UserProfileCreator.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/UserProfileService.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/UserProfileUpdator.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/ValidationService.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/AuditServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/ValidationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileMapper.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileValidator.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/UserProfileControllerTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/data/CreateUserProfileDataTestBuilder.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/domain/service/UserProfileUpdatorTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileValidatorTest.java
Labels: ns:rd-user-profile-api-pr-132

#138 Refactor 1 1 csf
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/UpdateUserProfileIntTest.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/client/UpdateUserProfileData.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/config/FeignInterceptorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/UserProfileController.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/entities/UserProfile.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/feign/IdamFeignClient.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/ResourceUpdator.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/UserProfileService.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/UserProfileUpdator.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/ValidationService.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/ValidationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileMapper.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/AuditServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/ValidationServiceImplTest.java
Labels: ns:rd-user-profile-api-pr-138

#139 Refactor 1 1 sonar
  src/main/java/uk/gov/hmcts/reform/userprofileapi/AttributeResponse.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/client/UpdateUserProfileData.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/AttributeResponseTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/client/UpdateUserProfileDataTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileMapperTest.java
Labels: ns:rd-user-profile-api-pr-139

#140 RDCC-418 refactor wiring audit service and fix unit test
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/UserProfileUpdator.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/domain/service/UserProfileUpdatorTest.java
Labels: ns:rd-user-profile-api-pr-140

#141 RDCC-418 refactor of updator to use mapper obj
  src/main/java/uk/gov/hmcts/reform/userprofileapi/client/UpdateUserProfileData.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/UserProfileUpdator.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileValidator.java
Labels: ns:rd-user-profile-api-pr-141

#142 RDCC-418 refactor updator to use validation service
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/UserProfileUpdator.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/ValidationService.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/ValidationServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/domain/service/UserProfileUpdatorTest.java
Labels: ns:rd-user-profile-api-pr-142

#143 Refactor 2 1
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/UserProfileUpdator.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/AuditServiceImpl.java
Labels: ns:rd-user-profile-api-pr-143

#151 Add dependabot config
  .dependabot/config.yml
Labels: ns:rd-user-profile-api-pr-151

#152 Rdcc PiTestCoverage
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/client/UserProfileRequestHandlerTest.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/UserProfileController.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/response/UserProfileResponse.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/response/UserProfileWithRolesResponse.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/enums/RegEx.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/IdamService.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/IdamServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileCreator.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileValidator.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/ValidationServiceImplTest.java
Labels: ns:rd-user-profile-api-pr-152

#163 bump reform health starter
  build.gradle
Labels: ns:rd-user-profile-api-pr-163

#164 Rdcc 418 634 ac1
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/response/UserProfileWithRolesResponse.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/entities/UpdatedUserDetails.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/enums/ExceptionType.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/exception/UndefinedException.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/AuditService.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/ExceptionService.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/ValidationHelperService.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/ValidationService.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/AuditServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/ExceptionServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileRetriever.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileUpdator.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/ValidationHelperServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/ValidationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileValidator.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/domain/entities/UpdatedUserDetailsTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/ExceptionServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileRetrieverTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileServiceTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileUpdatorTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/ValidationHelperServiceTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/ValidationServiceImplTest.java
Labels: ns:rd-user-profile-api-pr-164
