Repository hmcts/rd-user-profile-api, pull requests merged in 2019-11, with the labels that each got.

#128 RDCC-606_1 Adding fix for the nightly build
  Jenkinsfile_nightly
Labels: ns:rd-user-profile-api-pr-128

#171 Rdcc 418 v3 Update user status
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/AddRolesToExistingUserFuncTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/DeleteRolesToExistingUserFuncTest.java
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/UpdateUserProfileIntTest.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/config/FeignInterceptorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/UserProfileController.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/request/UpdateUserDetails.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/response/AttributeResponse.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/response/UserProfileResponse.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/response/UserProfileRolesResponse.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/enums/CreationChannel.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/enums/ExceptionType.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/enums/ResponseSource.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/enums/UserProfileField.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/feign/IdamFeignClient.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/exception/ErrorPersistingException.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/resource/UpdateUserProfileData.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/IdamService.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/ResourceUpdator.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/ValidationHelperService.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/ValidationService.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/ExceptionServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/IdamServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileService.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileUpdator.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/ValidationHelperServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/ValidationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/IdamStatusResolver.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileMapper.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileValidator.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/UserProfileControllerTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/response/UserProfileRolesResponseTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileServiceTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileUpdatorTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/ValidationHelperServiceTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/ValidationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileMapperTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileValidatorTest.java
Labels: ns:rd-user-profile-api-pr-171

#176 Rdcc 418 v3 Added test coverage
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/response/UserProfileResponse.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/response/UserProfileRolesResponse.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/enums/RegEx.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/request/UpdateUserDetailsTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/response/UserProfileResponseTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/exception/ErrorPersistingExceptionTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/resource/UpdateUserProfileDataTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/ExceptionServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/IdamServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileUpdatorTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/ValidationHelperServiceTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/ValidationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileMapperTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileValidatorTest.java
Labels: ns:rd-user-profile-api-pr-176

#178 Rdcc 418 v3 Update status response field change
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/response/UserProfileRolesResponse.java
Labels: ns:rd-user-profile-api-pr-178

#181 RDCC-418 added more loggers for testing
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/ExceptionServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/ValidationHelperServiceImpl.java
Labels: ns:rd-user-profile-api-pr-181

#182 Rdcc 418 v3 Added more loggers to see stacks trace of exception
  Jenkinsfile_CNP
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/advice/UserProfileControllerAdvice.java
Labels: ns:rd-user-profile-api-pr-182

#177 RDCC-652 : Remove logging of sensitive keys and client identifying data
  src/main/java/uk/gov/hmcts/reform/userprofileapi/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/UserProfileController.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/IdamServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileCreator.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileUpdator.java
Labels: ns:rd-user-profile-api-pr-177

#186 Fixing failing Demo build - Sonar Issues
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/CreateNewUserProfileWithDuplicateUserIntTest.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/response/UserProfileResponse.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileCreator.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/ValidationHelperServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/IdamStatusResolver.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/response/UserProfileResponseTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/util/IdamStatusResolverTest.java
Labels: ns:rd-user-profile-api-pr-186

#185 Rdcc 641 - Pact
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  README.md
  broker-compose.yml
  build.gradle
  config/owasp/suppressions.xml
  src/contractTest/java/uk/gov/hmcts/reform/userprofileapi/IdamConsumerTest.java
Labels: ns:rd-user-profile-api-pr-185

#187 Removing unused IdamStatusConfiguration
  src/main/java/uk/gov/hmcts/reform/userprofileapi/config/IdamStatusConfiguration.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileCreator.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileCreatorTest.java
Labels: ns:rd-user-profile-api-pr-187

#197 refactor: updated idam env values in charts and updated token(RDCC-635)
  build.gradle
  charts/rd-user-profile-api/Chart.yaml
  charts/rd-user-profile-api/values.preview.template.yaml
  charts/rd-user-profile-api/values.yaml
  config/owasp/suppressions.xml
  src/main/resources/application.yaml
Labels: ns:rd-user-profile-api-pr-197

#200 refactor: updated microservice chart to support sidam demo(RDCC-635)
  charts/rd-user-profile-api/Chart.yaml
  charts/rd-user-profile-api/values.preview.template.yaml
  charts/rd-user-profile-api/values.yaml
  config/owasp/suppressions.xml
  src/main/resources/application.yaml
Labels: ns:rd-user-profile-api-pr-200

#204 refactor: updated microservice with Idam url
  charts/rd-user-profile-api/Chart.yaml
  charts/rd-user-profile-api/values.yaml
Labels: ns:rd-user-profile-api-pr-204

#203 fix for security and helm chart
  build.gradle
  security.sh
Labels: ns:rd-user-profile-api-pr-203
