Repository hmcts/rd-user-profile-api, pull requests merged in 2020-06, with the labels that each got.

#347 Delete user
  Jenkinsfile_CNP
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/AbstractFunctional.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/DeleteUserProfileFuncTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/client/UserProfileRequestHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/AuthorizationEnabledIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/DeleteUserProfileIntTest.java
  src/integrationTest/resources/application.yml
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/UserProfileController.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/request/UserProfileDataRequest.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/response/UserProfilesDeletionResponse.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/repository/UserProfileRepository.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/AuditService.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/DeleteResourceService.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/AuditServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/DeleteUserProfileServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileService.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileValidator.java
  src/main/resources/db/migration/V1_5__adding_on_delete_cascade_tables.sql
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/UserProfileControllerTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/response/UserProfilesDeletionResponseTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/AuditServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/DeleteUserProfileTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileServiceTest.java
Labels: ns:rd, rel:rd-user-profile-api-pr-347

#365 fix : (RDCC-1535) removed ASE entry for production
  infrastructure/main.tf
Labels: ns:rd, rel:rd-user-profile-api-pr-365

#369 RDCC-1551: Upgrading to Java 11
  .travis.yml
  Dockerfile
  build.gradle
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  src/test/java/uk/gov/hmcts/reform/userprofileapi/util/IdamStatusResolverTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/util/JsonFeignResponseHelperTest.java
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-369

#345 feat : (RDCC-1069) Implement Meaningful Error Messages for SIDAM
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/AbstractFunctional.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/AddRolesToExistingUserFuncTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/CreateUserProfileFuncTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/DeleteRolesToExistingUserFuncTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/client/UserProfileRequestHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/AddRolesWithIdamIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/AuthorizationEnabledIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/CreateNewUserProfileWithIdamErrorsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/ReInviteUserProfileIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveMultipleUserProfilesIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveUserProfileInternalServerErrorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveUserProfileWithIdamErrorsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/UpdateUserProfileIntTest.java
  src/integrationTest/resources/application.yml
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/advice/ErrorConstants.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/advice/UserProfileControllerAdvice.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/response/AttributeResponse.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/response/IdamErrorResponse.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/response/RoleAdditionResponse.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/response/RoleDeletionResponse.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/IdamRegistrationInfo.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/IdamRolesInfo.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/repository/UserProfileRepository.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/IdamServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileUpdator.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/IdamStatusResolver.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/JsonFeignResponseHelper.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/UserProfileControllerTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/response/AttributeResponseTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/response/RoleAdditionResponseTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/response/RoleDeletionResponseTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/response/UserProfileRolesResponseTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/domain/IdamRegistrationInfoTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/domain/IdamRolesInfoTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/domain/entities/UserProfileTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/IdamServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileQueryProviderTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileRetrieverTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileUpdatorTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/ValidationHelperServiceTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/ValidationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/util/IdamStatusResolverTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/util/JsonFeignResponseHelperTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileMapperTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileValidatorTest.java
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-345

#383 Add app insights instrumentation key
  src/main/resources/bootstrap.yaml
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-383
