Repository hmcts/rd-user-profile-api, pull requests merged in 2020-05, with the labels that each got.

#332 feat: Remove json property
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/request/UserProfileDataRequest.java
Labels: ns:rd, rel:rd-user-profile-api-pr-332

#337 RDCC-930, Demo: Re-write Exception Tests
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/ValidationHelperServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/ValidationHelperServiceTest.java
Labels: ns:rd, rel:rd-user-profile-api-pr-337

#334 Commiting ASE to AKS migraion changes
  Jenkinsfile_CNP
  charts/rd-user-profile-api/values.yaml
  config/owasp/suppressions.xml
  infrastructure/demo.tfvars
  infrastructure/main.tf
Labels: ns:rd, rel:rd-user-profile-api-pr-334

#343 Added suppressions
  config/owasp/suppressions.xml
Labels: ns:rd, rel:rd-user-profile-api-pr-343

#335 Bumped up chart version to 0.0.8
  charts/rd-user-profile-api/Chart.yaml
  config/owasp/suppressions.xml
  infrastructure/main.tf
Labels: ns:rd, rel:rd-user-profile-api-pr-335

#344 Added missing Env Vars and Bumped Up Chart version to 0.0.9
  Jenkinsfile_CNP
  charts/rd-user-profile-api/Chart.yaml
  charts/rd-user-profile-api/values.yaml
Labels: ns:rd, rel:rd-user-profile-api-pr-344

#342 RDCC-1307: Addressing CVE suppressions
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:rd, rel:rd-user-profile-api-pr-342

#333 RDCC-930, Master: Re-write Exception Tests
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/ValidationHelperServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/ValidationHelperServiceTest.java
Labels: ns:rd, rel:rd-user-profile-api-pr-333

#358 feat:removing hazelcast cache implementation for OIDC; Updating Suppressions.xml from Master
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/userprofileapi/config/ApplicationParams.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/config/CachingConfiguration.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/repository/IdamRepository.java
  src/main/resources/application.yaml
Labels: ns:rd, rel:rd-user-profile-api-pr-358

#354 RDCC-1440, Master: removing installCharts() from Jenkinsfile_CNP
  Jenkinsfile_CNP
  config/owasp/suppressions.xml
Labels: ns:rd, rel:rd-user-profile-api-pr-354
