Repository hmcts/rd-user-profile-api, pull requests merged in 2020-08, with the labels that each got.

#417 feat: ignoring unwanted fileds from json response to fix get user rol…
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/JsonFeignResponseHelper.java
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-417

#418 feat: masked secret key
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/client/FuncTestRequestHandler.java
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/resources/application.yml
  src/main/resources/application.yaml
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-418

#404 Delete userprofile
  Jenkinsfile_CNP
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/DeleteUserProfileFuncTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/client/UserProfileRequestHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/AuthorizationEnabledIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/DeleteUserProfileIntTest.java
  src/integrationTest/resources/application.yml
  src/main/java/uk/gov/hmcts/reform/userprofileapi/config/FeignInterceptorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/UserProfileController.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/advice/UserProfileControllerAdvice.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/request/UserProfileDataRequest.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/response/UserProfilesDeletionResponse.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/AuditService.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/DeleteResourceService.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/AuditServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/DeleteUserProfileServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/IdamServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileCreator.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileService.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileUpdator.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/JsonFeignResponseHelper.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileValidator.java
  src/main/resources/bootstrap.yaml
  src/main/resources/db/migration/V1_5__adding_on_delete_cascade_tables.sql
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/UserProfileControllerTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/AuditServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/DeleteUserProfileServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/IdamServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileUpdatorTest.java
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-404

#420 UP Nightly Build Fix & Add env specific vars in values.yaml file
  audit.json
  build.gradle
  charts/rd-user-profile-api/Chart.yaml
  charts/rd-user-profile-api/values.yaml
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-420

#422 Delete up merge
  audit.json
  build.gradle
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/DeleteUserProfileFuncTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/client/FuncTestRequestHandler.java
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/client/UserProfileRequestHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/AuthorizationEnabledIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/DeleteUserProfileIntTest.java
  src/integrationTest/resources/application.yml
  src/main/java/uk/gov/hmcts/reform/userprofileapi/config/FeignInterceptorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/UserProfileController.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/request/UserProfileDataRequest.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/response/UserProfilesDeletionResponse.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/AuditService.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/DeleteResourceService.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/AuditServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/DeleteUserProfileServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/IdamServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileCreator.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileService.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileUpdator.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/JsonFeignResponseHelper.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileValidator.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V1_5__adding_on_delete_cascade_tables.sql
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/UserProfileControllerTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/WelcomeControllerTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/AuditServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/DeleteUserProfileServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/IdamServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileServiceTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileUpdatorTest.java
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-422

#425 Delete User profile merge to demo
  audit.json
  build.gradle
  charts/rd-user-profile-api/Chart.yaml
  charts/rd-user-profile-api/values.yaml
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-425

#435 feat:remove unused variables from terraform script
  infrastructure/state.tf
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-435

#437 feat : Masking the email in API URL(RDCC-1820)
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/UserProfileController.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/request/processor/TelemetryRequestProcessor.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/request/processor/TelemetryRequestProcessorTest.java
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-437

#447 fix serenity report to filter integration , functional, Smoke Tests
  build.gradle
  infrastructure/state.tf
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/AddRolesToExistingUserFuncTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/CreateUserProfileFuncTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/DeleteRolesToExistingUserFuncTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/DeleteUserProfileFuncTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/EndpointSecurityTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/ReInviteUserFuncTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/RetrieveMultipleUserProfileFuncTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/RetrieveUserProfileFuncTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/UpdateUserProfileFuncTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/WelcomeTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/docs/SwaggerPublisher.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/AddRolesWithIdamIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/AuthorizationEnabledIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/CreateNewUserProfileIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/CreateNewUserProfileWithDuplicateUserIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/CreateNewUserProfileWithIdamErrorsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/DeleteUserProfileIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/ReInviteUserProfileIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveMultipleUserProfilesIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveUserProfileIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveUserProfileInternalServerErrorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveUserProfileWithIdamErrorsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/UpdateUserProfileIntTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/userprofileapi/SmokeTest.java
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-447

#444 feat:updated README.md file and pact related changes
  README.md
  build.gradle
  pacts/.keep
  src/contractTest/java/uk/gov/hmcts/reform/userprofileapi/IdamConsumerTest.java
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-444
