Repository hmcts/rd-user-profile-api, pull requests merged in 2020-09, with the labels that each got.

#454 feat:nightly build fix
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-454

#455 Fix: Removing TelemetryRequestProcessor and tests
  build.gradle
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/UserProfileController.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/request/RoleRequest.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/request/processor/TelemetryRequestProcessor.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/IdamRegistrationInfo.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/IdamRolesInfo.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/IdamService.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/JsonFeignResponseHelper.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/request/RoleRequestTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/request/processor/TelemetryRequestProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/IdamServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-455

#456 feat:sonarqube issues fix
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-456

#457 feat:sonarqube issues fix
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileCreator.java
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-457

#461 feat:sonarqube issues fix
  build.gradle
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/JsonFeignResponseHelper.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/domain/IdamRolesInfoTest.java
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-461

#463 Pact test changes
  src/contractTest/java/uk/gov/hmcts/reform/userprofileapi/IdamConsumerTest.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/feign/IdamFeignClient.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/IdamService.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/IdamServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/IdamServiceImplTest.java
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-463

#436 RDCC-1808 Fix SAST Security tool Fortify issues
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/AbstractFunctional.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/AddRolesToExistingUserFuncTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/CreateUserProfileFuncTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/DeleteRolesToExistingUserFuncTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/DeleteUserProfileFuncTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/client/FuncTestRequestHandler.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/client/IdamClient.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/client/IdamOpenIdClient.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/config/TestConfigProperties.java
  src/functionalTest/resources/application-functional.yaml
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/IdamStatusResolver.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/helper/CreateUserProfileTestDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/util/IdamStatusResolverTest.java
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-436

#462 RDCC-1805 : Remove foreign key constraint from audit table and also rename response table to audit
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/DeleteUserProfileIntTest.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/entities/Audit.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/DeleteUserProfileServiceImpl.java
  src/main/resources/db/migration/V1_6__rename_table_and_drop_contraint_for_audit.sql
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-462

#485 Bump up : User profile bump ups (RDCC-1876)
  build.gradle
  charts/rd-user-profile-api/Chart.yaml
  charts/rd-user-profile-api/values.yaml
  src/main/resources/application.yaml
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-485

#497 Bump : Bump ups library versions(RDCC-1876)
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-497

#487 Feat: RDCC-1739 : Create Delete script for deleting functional test case data
  Jenkinsfile_nightly
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/AbstractFunctional.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/AddRolesToExistingUserFuncTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/DeleteRolesToExistingUserFuncTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/config/DbConfig.java
  src/functionalTest/resources/application-functional.yaml
  src/functionalTest/resources/delete-functional-test-data.sql
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-487

#500 feat: RDCC-1739 Delete script for test case data deletion.
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/AbstractFunctional.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/config/DbConfig.java
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-500

#482 Rdcc_1873_1:get the email from header instead of query param for email masking
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/AddRolesToExistingUserFuncTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/RetrieveUserProfileFuncTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/client/FuncTestRequestHandler.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/client/UserProfileRequestHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveUserProfileIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveUserProfileInternalServerErrorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveUserProfileWithIdamErrorsIntTest.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/UserProfileController.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/UserProfileControllerTest.java
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-482

#507 feat: RDCC-1739 Delete script for deleting functional test case data.
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/AbstractFunctional.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/config/DbConfig.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/util/DataBaseUtil.java
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-507
