Repository hmcts/rd-user-profile-api, pull requests merged in 2020-03, with the labels that each got.

#279 RDCC-863: UP Serenity Reports for Integration Tests
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/docs/SwaggerPublisher.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/AddRolesWithIdamIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/CreateNewUserProfileIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/CreateNewUserProfileWithDuplicateUserIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/CreateNewUserProfileWithIdamErrorsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveMultipleUserProfilesIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveUserProfileIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveUserProfileInternalServerErrorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveUserProfileWithIdamErrorsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/UpdateUserProfileIntTest.java
Labels: ns:rd, rel:rd-user-profile-api-pr-279

#287 RDCC-863: moving changes from Master to Demo
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  charts/rd-user-profile-api/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/docs/SwaggerPublisher.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/AddRolesWithIdamIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/CreateNewUserProfileIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/CreateNewUserProfileWithDuplicateUserIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/CreateNewUserProfileWithIdamErrorsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveMultipleUserProfilesIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveUserProfileIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveUserProfileInternalServerErrorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveUserProfileWithIdamErrorsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/UpdateUserProfileIntTest.java
Labels: ns:rd, rel:rd-user-profile-api-pr-287

#300 Sync demo with master
  Jenkinsfile_CNP
  audit.json
  build.gradle
  charts/rd-user-profile-api/Chart.yaml
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/UpdateUserProfileFuncTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/UpdateUserProfileIntTest.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/advice/UserProfileConstants.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/advice/UserProfileControllerAdvice.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/resource/UpdateUserProfileData.java
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/advice/UserProfileConstantsTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/resource/UpdateUserProfileDataTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileUpdatorTest.java
Labels: ns:rd, rel:rd-user-profile-api-pr-300

#295 RDCC-901 Reinvite expired user
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/AbstractFunctional.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/CreateUserProfileFuncTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/ReInviteUserFuncTest.java
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/AuthorizationEnabledIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/CreateNewUserProfileIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/CreateNewUserProfileWithDuplicateUserIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/CreateNewUserProfileWithIdamErrorsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/ReInviteUserProfileIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveMultipleUserProfilesIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveUserProfileIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveUserProfileWithIdamErrorsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/UpdateUserProfileIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/util/TestAuditRepository.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/util/TestUserProfileRepository.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/UserProfileController.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/advice/ErrorConstants.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/advice/ErrorResponse.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/advice/UserProfileControllerAdvice.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/entities/Audit.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/entities/UserProfile.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/enums/ExceptionType.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/repository/AuditRepository.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/resource/UserProfileCreationData.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/ResourceCreator.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/ValidationHelperService.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/ExceptionServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileCreator.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileService.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileUpdator.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/ValidationHelperServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/ValidationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileMapper.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/UserProfileControllerTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/advice/UserProfileControllerAdviceTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/domain/entities/UpdatedUserDetailsTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/helper/CreateUserProfileTestDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/repository/AuditRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/resource/UserProfileCreationDataTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/ExceptionServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileQueryProviderTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileUpdatorTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/ValidationHelperServiceTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/ValidationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/util/IdamStatusResolverTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileMapperTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileValidatorTest.java
Labels: ns:rd, rel:rd-user-profile-api-pr-295
