Repository hmcts/rd-user-profile-api, pull requests merged in 2020-07, with the labels that each got.

#387 Remove delete organisation functionality from demo
  .travis.yml
  Dockerfile
  build.gradle
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.properties
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/DeleteUserProfileFuncTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/client/UserProfileRequestHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/AuthorizationEnabledIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/DeleteUserProfileIntTest.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/UserProfileController.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/request/UserProfileDataRequest.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/entities/UserProfile.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/AuditService.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/DeleteResourceService.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/AuditServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/DeleteUserProfileServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileService.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileValidator.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V1_5__adding_on_delete_cascade_tables.sql
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/UserProfileControllerTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/response/UserProfilesDeletionResponseTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/AuditServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/DeleteUserProfileTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileServiceTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/util/IdamStatusResolverTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/util/JsonFeignResponseHelperTest.java
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-387

#389 Upgrading chart version since flux has 0.0.10
  charts/rd-user-profile-api/Chart.yaml
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-389

#390 RDCC-1661 adding aac service
  config/owasp/suppressions.xml
  src/main/resources/application.yaml
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-390

#391 RDCC-1693 Deploy to production Sidam error message changes
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/AbstractFunctional.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/AddRolesToExistingUserFuncTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/CreateUserProfileFuncTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/DeleteRolesToExistingUserFuncTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/client/UserProfileRequestHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/AddRolesWithIdamIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/AuthorizationEnabledIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/CreateNewUserProfileWithIdamErrorsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/ReInviteUserProfileIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveMultipleUserProfilesIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveUserProfileInternalServerErrorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveUserProfileWithIdamErrorsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/UpdateUserProfileIntTest.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/UserProfileController.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/advice/ErrorConstants.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/advice/UserProfileControllerAdvice.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/response/AttributeResponse.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/response/IdamErrorResponse.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/response/RoleAdditionResponse.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/response/RoleDeletionResponse.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/IdamRegistrationInfo.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/IdamRolesInfo.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/IdamServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileUpdator.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/IdamStatusResolver.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/JsonFeignResponseHelper.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/UserProfileControllerTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/response/AttributeResponseTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/response/RoleAdditionResponseTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/response/RoleDeletionResponseTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/response/UserProfileRolesResponseTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/domain/IdamRegistrationInfoTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/domain/IdamRolesInfoTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/domain/entities/UserProfileTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/IdamServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileQueryProviderTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileRetrieverTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileServiceTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileUpdatorTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/ValidationHelperServiceTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/ValidationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/util/IdamStatusResolverTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/util/JsonFeignResponseHelperTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileMapperTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileValidatorTest.java
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-391

#396 RDCC-1693 adding suppression for CVE
  config/owasp/suppressions.xml
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-396

#385 RDCC-1584: Increasing Mutation Coverage to meet threshold
  Jenkinsfile_nightly
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/AddRolesToExistingUserFuncTest.java
  src/functionalTest/resources/application-functional.yaml
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/UserProfileControllerTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/WelcomeControllerTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/advice/ErrorResponseTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/advice/UserProfileControllerAdviceTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/request/IdamRegisterUserRequestTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/request/RoleRequestTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/request/UpdateUserDetailsTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/request/UserProfileDataRequestTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/response/AttributeResponseTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/response/IdamUserResponseTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/response/RoleAdditionResponseTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/response/RoleDeletionResponseTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/response/UserProfileCreationResponseTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/response/UserProfileDataResponseTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/response/UserProfileResponseTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/response/UserProfileRolesResponseTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/response/UserProfileWithRolesResponseTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/domain/IdamRegistrationInfoTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/domain/IdamRolesInfoTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/domain/entities/AuditTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/domain/entities/UpdatedUserDetailsTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/domain/entities/UserProfileTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/exception/ErrorPersistingExceptionTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/exception/IdamServiceExceptionTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/exception/RequiredFieldMissingExceptionTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/exception/ResourceNotFoundExceptionTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/exception/UndefinedExceptionTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/oidc/JwtGrantedAuthoritiesConverterTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/repository/AuditRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/repository/UserProfileRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/resource/RoleNameTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/resource/UpdateUserProfileDataTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/resource/UserProfileCreationDataTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/resource/UserProfileIdentifierTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/AuditServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/ExceptionServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/IdamServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileQueryProviderTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileRetrieverTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileServiceTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileUpdatorTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/ValidationHelperServiceTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/ValidationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/util/IdamStatusResolverTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/util/JsonFeignResponseHelperTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/util/SystemDateProviderTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileMapperTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileValidatorTest.java
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-385

#395 RDCC-1583: Adding component name to all application logs
  config/owasp/suppressions.xml
  src/integrationTest/resources/application.yml
  src/main/java/uk/gov/hmcts/reform/userprofileapi/config/FeignInterceptorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/WelcomeController.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/advice/UserProfileControllerAdvice.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/repository/IdamRepository.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/ExceptionServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/IdamServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileCreator.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/JsonFeignResponseHelper.java
  src/main/resources/application.yaml
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-395

#403 RDCC-1583: Adding component name to all application logs
  src/integrationTest/resources/application.yml
  src/main/java/uk/gov/hmcts/reform/userprofileapi/config/FeignInterceptorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/WelcomeController.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/advice/UserProfileControllerAdvice.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/repository/IdamRepository.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/ExceptionServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/IdamServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileCreator.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/JsonFeignResponseHelper.java
  src/main/resources/application.yaml
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-403

#406 RDCC-1582: removing logger
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileRetriever.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileRetrieverTest.java
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-406

#409 RDCC-1740: reducing suppression CVE count
  build.gradle
  config/owasp/suppressions.xml
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/WelcomeControllerTest.java
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-409
