Repository hmcts/rd-user-profile-api, pull requests merged in 2020-10, with the labels that each got.

#515 TF upgrade to to 0.12.16 & Azure RM Upgrade to 2.20.0 - Demo
  Jenkinsfile_CNP
  infrastructure/.terraform-version
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/ithc.tfvars
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/perftest.tfvars
  infrastructure/prod.tfvars
  infrastructure/sprod.tfvars
  infrastructure/state.tf
  infrastructure/terraform.tf
  infrastructure/test_config.tf
  infrastructure/variables.tf
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/AbstractFunctional.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/config/DbConfig.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/util/DataBaseUtil.java
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-515

#516 TF upgrade to to 0.12.16 & Azure RM Upgrade to 2.20.0 - ITHC
  Jenkinsfile_CNP
  infrastructure/.terraform-version
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/ithc.tfvars
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/perftest.tfvars
  infrastructure/prod.tfvars
  infrastructure/sprod.tfvars
  infrastructure/state.tf
  infrastructure/terraform.tf
  infrastructure/test_config.tf
  infrastructure/variables.tf
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/AbstractFunctional.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/config/DbConfig.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/util/DataBaseUtil.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/response/UserProfilesDeletionResponse.java
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-516

#517 TF upgrade to to 0.12.16 & Azure RM Upgrade to 2.20.0 - Perftest
  infrastructure/.terraform-version
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/ithc.tfvars
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/perftest.tfvars
  infrastructure/prod.tfvars
  infrastructure/sprod.tfvars
  infrastructure/state.tf
  infrastructure/terraform.tf
  infrastructure/test_config.tf
  infrastructure/variables.tf
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/AbstractFunctional.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/config/DbConfig.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/util/DataBaseUtil.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveMultipleUserProfilesIntTest.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/response/UserProfilesDeletionResponse.java
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-517

#519 TF upgrade to to 0.12.16 & Azure RM Upgrade to 2.20.0 - Master
  Jenkinsfile_CNP
  infrastructure/.terraform-version
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/ithc.tfvars
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/perftest.tfvars
  infrastructure/prod.tfvars
  infrastructure/sprod.tfvars
  infrastructure/state.tf
  infrastructure/terraform.tf
  infrastructure/test_config.tf
  infrastructure/variables.tf
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/response/UserProfilesDeletionResponse.java
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-519

#521 TF Upgrade to 13.3 and Azure RM to 2.25+
  infrastructure/.terraform-version
  infrastructure/terraform.tf
  infrastructure/variables.tf
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-521

#522 RDCC-1919: adding divorce_frontend to whitelist
  src/main/resources/application.yaml
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-522

#509 Build(deps) : Bump up versions(RDCC-1906)
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-509

#524 RDCC-1919: adding divorce_frontend to whitelist & TF/Azure RM Upgrade
  build.gradle
  infrastructure/.terraform-version
  infrastructure/terraform.tf
  infrastructure/variables.tf
  src/main/resources/application.yaml
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-524

#528 RDCC-1937 Functional test cases with delete scripts and multithreading
  Jenkinsfile_nightly
  build.gradle
  deletescript/delete-functional-data.sh
  deletescript/sql/delete-functional-data-script.sql
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/AbstractFunctional.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/config/DbConfig.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/util/DataBaseUtil.java
  src/functionalTest/resources/delete-functional-test-data.sql
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-528

#526 Bumpups : Bump up the jar versions including owasp(RDCC-1933)
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-526

#547 disabling the threads from the build gradlew file
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-547

#549 feat: adding condition to ignore get and post calls when roles matches
  charts/rd-user-profile-api/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/client/FuncTestRequestHandler.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileCreator.java
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-549
