Repository hmcts/rd-user-profile-api, pull requests merged in 2020-02, with the labels that each got.

#249 RDCC-872 addressing review comments, removed mocks and added verify(s)
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/AbstractFunctional.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/AddRolesWithIdamIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/CreateNewUserProfileIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/CreateNewUserProfileWithDuplicateUserIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/CreateNewUserProfileWithIdamErrorsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveUserProfileInternalServerErrorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/UpdateUserProfileIntTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/UserProfileControllerTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/response/UserProfileCreationResponseTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/response/UserProfileDataResponseTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/response/UserProfileResponseTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/response/UserProfileWithRolesResponseTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/domain/entities/AuditTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/domain/entities/UserProfileTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/helper/CreateUserProfileTestDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/helper/UserProfileTestDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/repository/AuditRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/repository/UserProfileRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/resource/UserProfileCreationDataTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileQueryProviderTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileServiceTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileUpdatorTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/ValidationHelperServiceTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/ValidationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileMapperTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileValidatorTest.java
Labels: ns:rd, rel:rd-user-profile-api-pr-249

#260 954 - Nightly Build Fix
  audit.json
  charts/rd-user-profile-api/values.preview.template.yaml
Labels: ns:rd, rel:rd-user-profile-api-pr-260

#257 RDCC-824: Validation for entering First and Last Name on PUT Endpoint
  build.gradle
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/UpdateUserProfileFuncTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/UpdateUserProfileIntTest.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/advice/UserProfileConstants.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/advice/UserProfileControllerAdvice.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/resource/UpdateUserProfileData.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/advice/UserProfileConstantsTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/resource/UpdateUserProfileDataTest.java
Labels: ns:rd, rel:rd-user-profile-api-pr-257

#266 Rdcc 954 - nightly fix
  config/owasp/suppressions.xml
Labels: ns:rd, rel:rd-user-profile-api-pr-266
