Repository hmcts/rd-user-profile-api, pull requests merged in 2020-04, with the labels that each got.

#305 RDCC-1087 : Removed validation on first name and last name
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/UpdateUserProfileFuncTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/UpdateUserProfileIntTest.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/advice/UserProfileConstants.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/resource/UpdateUserProfileData.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/advice/UserProfileConstantsTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/helper/CreateUserProfileTestDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/resource/UpdateUserProfileDataTest.java
Labels: ns:rd, rel:rd-user-profile-api-pr-305

#310 RDCC-1087 : Removed regex validation for first name, last name
  build.gradle
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/UpdateUserProfileFuncTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/CreateNewUserProfileIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/UpdateUserProfileIntTest.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/advice/UserProfileConstants.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/resource/UpdateUserProfileData.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/advice/UserProfileConstantsTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/helper/CreateUserProfileTestDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/resource/UpdateUserProfileDataTest.java
Labels: ns:rd, rel:rd-user-profile-api-pr-310

#312 RDCC-1087:IDAM URL removing which is not required here and bump the c…
  charts/rd-user-profile-api/Chart.yaml
  charts/rd-user-profile-api/values.yaml
Labels: ns:rd, rel:rd-user-profile-api-pr-312

#313 fix: (RDCC-1221) fix timestamp issue in reinvite
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/AuthorizationEnabledIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/CreateNewUserProfileWithDuplicateUserIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/CreateNewUserProfileWithIdamErrorsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/ReInviteUserProfileIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveMultipleUserProfilesIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveUserProfileIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveUserProfileWithIdamErrorsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/UpdateUserProfileIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/util/TestAuditRepository.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/entities/UserProfile.java
Labels: ns:rd, rel:rd-user-profile-api-pr-313

#316 RDCC-1221 : re deploying demo
  config/owasp/suppressions.xml
Labels: ns:rd, rel:rd-user-profile-api-pr-316

#320 feat : Merging re invitation of users to production
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/AbstractFunctional.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/CreateUserProfileFuncTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/ReInviteUserFuncTest.java
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/AuthorizationEnabledIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/CreateNewUserProfileIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/CreateNewUserProfileWithDuplicateUserIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/ReInviteUserProfileIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveMultipleUserProfilesIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveUserProfileIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveUserProfileWithIdamErrorsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/UpdateUserProfileIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/util/TestUserProfileRepository.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/UserProfileController.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/advice/ErrorConstants.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/advice/ErrorResponse.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/advice/UserProfileControllerAdvice.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/entities/Audit.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/enums/ExceptionType.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/repository/AuditRepository.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/resource/UserProfileCreationData.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/ResourceCreator.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/ValidationHelperService.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/ExceptionServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileCreator.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileService.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileUpdator.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/ValidationHelperServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/ValidationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileMapper.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/UserProfileControllerTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/advice/UserProfileControllerAdviceTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/domain/entities/UpdatedUserDetailsTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/helper/CreateUserProfileTestDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/repository/AuditRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/resource/UserProfileCreationDataTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/ExceptionServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileCreatorTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileQueryProviderTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileUpdatorTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/ValidationHelperServiceTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/ValidationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/util/IdamStatusResolverTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileMapperTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileValidatorTest.java
Labels: ns:rd, rel:rd-user-profile-api-pr-320

#302 RDCC-969, UP: Update Swagger Descriptions for APIs
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/UserProfileController.java
Labels: ns:rd, rel:rd-user-profile-api-pr-302

#324 RDCC-969, MASTER: Update Swagger Descriptions for APIs
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/UserProfileController.java
Labels: ns:rd, rel:rd-user-profile-api-pr-324

#314 RDCC-1033:OIDC changes for user profile api
  build.gradle
  charts/rd-user-profile-api/Chart.yaml
  charts/rd-user-profile-api/values.yaml
  config/owasp/suppressions.xml
  infrastructure/main.tf
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/AbstractFunctional.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/CreateUserProfileFuncTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/EndpointSecurityTest.java
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/client/UserProfileRequestHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/AddRolesWithIdamIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/AuthorizationEnabledIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/CreateNewUserProfileIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/CreateNewUserProfileWithDuplicateUserIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveUserProfileIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/UpdateUserProfileIntTest.java
  src/integrationTest/resources/application.yml
  src/main/java/uk/gov/hmcts/reform/userprofileapi/Application.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/config/ApplicationParams.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/config/AuthCheckerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/config/CachingConfiguration.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/config/JacksonConfiguration.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/request/UserProfileDataRequest.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/feign/IdamFeignClient.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/oidc/JwtGrantedAuthoritiesConverter.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/repository/IdamRepository.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/security/AccessTokenProvider.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/security/RequestUserAccessTokenProvider.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/security/idam/IdamUserDetails.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/security/idam/IdentityManagerResponseException.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/serialization/Serializer.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/serialization/StdSerializer.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/JsonFeignResponseHelper.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileValidator.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/userprofileapi/constants/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/oidc/JwtGrantedAuthoritiesConverterTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/repository/IdamRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/security/RequestUserAccessTokenProviderTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/security/idam/IdamUserDetailsTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/security/idam/IdentityManagerResponseExceptionTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/serialization/StdSerializerTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileUpdatorTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/util/JsonFeignResponseHelperTest.java
Labels: enhancement, ns:rd, rel:rd-user-profile-api-pr-314
