Repository hmcts/rd-user-profile-api, pull requests merged in 2021-02, with the labels that each got.

#628 RDCC-2332: Adding Retry to createUser() in IdamOpenIdClient
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/client/IdamOpenIdClient.java
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-628

#629 RDCC-2285 Pact setup & config with provider test for get, create and update endpoints
  Jenkinsfile_CNP
  broker-compose.yml
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  src/contractTest/java/uk/gov/hmcts/reform/userprofileapi/UserProfileProviderTest.java
  src/contractTest/java/uk/gov/hmcts/reform/userprofileapi/UserProfileProviderTestConfiguration.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/UserProfileController.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/IdamRegistrationInfo.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/IdamRolesInfo.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/entities/UserProfile.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileCreator.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileRetriever.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileService.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileUpdator.java
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-629

#637 fix: Security scan reported issue fix
  audit.json
  charts/rd-user-profile-api/Chart.yaml
  charts/rd-user-profile-api/requirements.yaml
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-637

#641 DependBot : Upgrade Jar versions(RDCC-2507)
  audit.json
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-641
