Repository hmcts/rd-user-profile-api, pull requests merged in 2021-04, with the labels that each got.

#679 RDCC-2743 : Fixing the CVE-2021-29425
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-679

#680 fix:RDCC-2746-Helm chart version updated
  charts/rd-user-profile-api/Chart.yaml
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-680

#664 RDCC-2391: Delete API - Delete Users by Email Pattern or User ID
  Jenkinsfile_CNP
  build.gradle
  charts/rd-user-profile-api/Chart.yaml
  charts/rd-user-profile-api/values.preview.template.yaml
  charts/rd-user-profile-api/values.yaml
  src/contractTest/java/uk/gov/hmcts/reform/userprofileapi/UserProfileProviderTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/UserProfileFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/client/FuncTestRequestHandler.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/config/Oauth2.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/util/CustomSerenityRunner.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/util/ToggleEnable.java
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/client/UserProfileRequestHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/AuthorizationEnabledIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/DeleteUserProfileIntTest.java
  src/integrationTest/resources/application.yml
  src/main/java/uk/gov/hmcts/reform/userprofileapi/config/LaunchDarklyConfiguration.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/UserProfileController.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/advice/ErrorConstants.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/advice/UserProfileControllerAdvice.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/feign/IdamFeignClient.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/exception/ForbiddenException.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/repository/UserProfileRepository.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/DeleteResourceService.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/FeatureToggleService.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/DeleteUserProfileServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/FeatureToggleServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileService.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/FeatureConditionEvaluation.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/userprofileapi/constants/TestConstants.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/UserProfileControllerTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/advice/UserProfileControllerAdviceTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/exception/ForbiddenExceptionTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/repository/UserProfileRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/DeleteUserProfileServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/FeatureToggleServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileQueryProviderTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileServiceTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/util/FeatureConditionEvaluationTest.java
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-664

#684 fix: RDCC-2777 Fixed failing FT in nightly by adding LD key and fixed security scan reported issue
  Jenkinsfile_nightly
  audit.json
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-684
