Repository hmcts/rd-user-profile-api, pull requests merged in 2022-07, with the labels that each got.

#869 RDCC-5016: Adding Suppression for `CVE-2022-33915`
  config/owasp/suppressions.xml
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-869

#871 RDCC-5048 Upgrade java chart
  charts/rd-user-profile-api/Chart.yaml
  charts/rd-user-profile-api/values.preview.template.yaml
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-871

#873 RDCC-5138: Adding Suppression for `CVE-2022-31569`
  config/owasp/suppressions.xml
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-873

#870 Feat:RDCC-4997:Changes made to add and fix checkstyle issues
  config/checkstyle/checkstyle.xml
  src/contractTest/java/uk/gov/hmcts/reform/userprofileapi/UserProfileProviderTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/userprofileapi/AbstractFunctional.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/ReInviteUserProfileIntTest.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/config/FeignConfiguration.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/config/FeignHeaderConfig.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/config/FeignInterceptorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/config/JacksonConfiguration.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/config/MethodSecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/config/SecurityEndpointFilter.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/UserProfileController.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/WelcomeController.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/advice/UserProfileControllerAdvice.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/request/IdamRegisterUserRequest.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/request/UserProfileDataRequest.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/response/AttributeResponse.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/response/IdamErrorResponse.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/response/IdamUserResponse.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/response/RoleAdditionResponse.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/response/RoleDeletionResponse.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/response/UserProfileCreationResponse.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/response/UserProfileDataResponse.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/response/UserProfileResponse.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/response/UserProfileRolesResponse.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/response/UserProfileWithRolesResponse.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/IdamRegistrationInfo.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/IdamRolesInfo.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/entities/Audit.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/entities/UserProfile.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/feign/IdamFeignClient.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/oidc/JwtGrantedAuthoritiesConverter.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/repository/UserProfileRepository.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/resource/UpdateUserProfileData.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/resource/UserProfileCreationData.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/resource/UserProfileIdentifier.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/IdamService.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/ResourceRetriever.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/UserProfileQueryProvider.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/ValidationHelperService.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/AuditServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/DeleteUserProfileServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/FeatureToggleServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/IdamServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileCreator.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileRetriever.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileUpdator.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/ValidationHelperServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/ValidationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/FeatureConditionEvaluation.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/IdamStatusResolver.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/JsonFeignResponseHelper.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/SystemDateProvider.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileMapper.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileValidator.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/UserProfileControllerTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/advice/UserProfileControllerAdviceTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/util/FeatureConditionEvaluationTest.java
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-870
