Repository hmcts/rd-user-profile-api, pull requests merged in 2022-11, with the labels that each got.

#872 Feat:UserProfile : Analyse all UserProfile api's and wrap all IDAM 5XX errors to
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/client/UserProfileRequestHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/AddAndDeleteRolesWithIdamIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/CreateNewUserProfileWithIdamErrorsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveMultipleUserProfilesIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveUserProfileWithIdamErrorsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/UpdateUserProfileIntTest.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/advice/ErrorResponse.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/response/AttributeResponse.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/IdamRegistrationInfo.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/domain/IdamRolesInfo.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/DeleteUserProfileServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/IdamServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileCreator.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileRetriever.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileUpdator.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/IdamStatusResolver.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileUtil.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/controller/advice/ErrorResponseTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/DeleteUserProfileServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/IdamServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/service/impl/UserProfileUpdatorTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/util/IdamStatusResolverTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/util/UserProfileUtilTest.java
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-872

#907 RDCC-5778: Upgrading `tomcat` to version `9.0.68`
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-907

#909 Feat:Container based integration testing
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/docs/SwaggerPublisherTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/AddAndDeleteRolesWithIdamIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/AuthorizationEnabledIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/CreateNewUserProfileIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/CreateNewUserProfileWithDuplicateUserIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/CreateNewUserProfileWithIdamErrorsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/DeleteUserProfileIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/EndpointSecurityIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/ReInviteUserProfileIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveMultipleUserProfilesIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveUserProfileIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveUserProfileInternalServerErrorIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/RetrieveUserProfileWithIdamErrorsIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/SpringBootIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/UpdateUserProfileIntTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/util/UserProfileApiPostgresqlContainer.java
  src/integrationTest/resources/application-test.yml
  src/integrationTest/resources/db/testmigration/V1_1__init_tables.sql
  src/integrationTest/resources/db/testmigration/V1_2__modify_check_constraint.sql
  src/integrationTest/resources/db/testmigration/V1_3__add_index_for_idam_id.sql
  src/integrationTest/resources/db/testmigration/V1_4__modify_idam_id_datatype_to_varchar.sql
  src/integrationTest/resources/db/testmigration/V1_5__adding_on_delete_cascade_tables.sql
  src/integrationTest/resources/db/testmigration/V1_6__rename_table_and_drop_contraint_for_audit.sql
  src/integrationTest/resources/db/testmigration/V1_7__drop_index_for_idam_id.sql
  src/test/java/uk/gov/hmcts/reform/userprofileapi/repository/AuditRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/userprofileapi/repository/UserProfileRepositoryTest.java
  src/test/resources/application.yml
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-909

#910 Upgrade Terraform version 1.3.X :: RDCC-5894
  infrastructure/.terraform-version
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-910

#911 Upgrade Terraform and helm :: RDCC-5894
  charts/rd-user-profile-api/Chart.yaml
  infrastructure/terraform.tf
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-911
