Repository hmcts/rd-user-profile-api, pull requests merged in 2024-04, with the labels that each got.

#1037 DTSRD-2442: PI33 Configure spot instances in non-production
  charts/rd-user-profile-api/Chart.yaml
  charts/rd-user-profile-api/values.yaml
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-1037

#1038 FIX AZURE EXTENSIONS
  infrastructure/aat.tfvars
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:rd, prd:rd, aat/add-or-update, rel:rd-user-profile-api-pr-1038

#1040 Update pitest
  build.gradle
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-1040
