Repository hmcts/rd-user-profile-api, pull requests merged in 2024-05, with the labels that each got.

#1039 Update schema ownership
  infrastructure/main.tf
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-1039, aat/destroy, prod/destroy

#1041 Update schema ownership
  infrastructure/main.tf
Labels: ns:rd, prd:rd, aat/destroy, prod/destroy, rel:rd-user-profile-api-pr-1041

#1042 DTSRD-2750.Decomissioning single server
  charts/rd-user-profile-api/Chart.yaml
  charts/rd-user-profile-api/values.aat.template.yaml
  charts/rd-user-profile-api/values.yaml
  infrastructure/main.tf
  infrastructure/terraform.tf
Labels: ns:rd, prd:rd, aat/destroy, prod/destroy, rel:rd-user-profile-api-pr-1042

#1043 DTSRD-2766
  build.gradle
  config/checkstyle/checkstyle.xml
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  src/integrationTest/java/uk/gov/hmcts/reform/userprofileapi/integration/CreateNewUserProfileWithIdamErrorsIntTest.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/Application.java
  src/main/java/uk/gov/hmcts/reform/userprofileapi/controller/UserProfileController.java
Labels: ns:rd, prd:rd, rel:rd-user-profile-api-pr-1043
